/* xs */
/*@media (min-width: 475px) {

}*/

/* sm */
/*@media (min-width: 640px) {

}*/

/* md */
/*@media (min-width: 768px) {

}*/

/* lg */
/*@media (min-width: 1024px) {

}*/

/* xl */
/*@media (min-width: 1280pxpx) {

}*/

/* 2xl */
/*@media (min-width: 1536px) {

}*/


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid red;         
}

.btn {
    display: inline-block;
    background: var(--clr-rose);
    color: #f1f5f9;
    padding: 0.3em 0.5em;
    font-weight: 600;
    letter-spacing: -0.05em;
    text-decoration: none;
    border: none;
    border-radius: 6px;
}

.btn::before {
    margin-left: auto;
}

.btn::after,.btn::before {
    content:'';
    width: 0%;
    height: 1px;
    background: white;
    display: block;
    transition: 0.5s;
}

 .btn:hover::after, .btn:hover::before {
    width: 100%;
 } 


.section {
    margin-top: 5rem;
}

.loading {
    filter: blur(40px) grayscale(100%);
}

.loaded { 
    filter: blur(0px) grayscale(0);
    transition: 0.7s ease-in-out;
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
      .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
      .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
      .container {
        max-width: 1024px;
    }

    .section {
        margin-top: 10rem;
    }
}

/* xl */
@media (min-width: 1280px) {
      .container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
      .container {
        max-width: 1536px;
    }
}